[mononoke]
Authserver.IP = 0.0.0.0
Authserver.Port = 4500
Gameserver.IP = 0.0.0.0 # used for local game server connection
Gameserver.Port = 4502

# MySQL only, use the following syntax: host;port;user;password;database
AuthDatabase.CString = IP;PORT;USER;PASSWORD;DATABASE

# NOTE: While authserver is singlethreaded you should keep synch_threads = 1.
# Increasing it is just silly since only 1 will be used ever.
AuthDatabase.WorkerThreads = 1
AuthDatabase.SynchThreads = 1

### Network Settings - Don't change anything if you don't know what you're doing ###
Network.TcpNodelay = 1
Network.OutKBuff = -1
Network.OutUBuff = 65536

### Misc Settings ###
ThreadPool = 2
MaxPingTime = 30

###################################################################################################
#  LOGGING SYSTEM SETTINGS
#
#  Appender config values: Given a appender "name"
#    Appender.name
#        Description: Defines 'where to log'
#        Format:      Type,LogLevel,Flags,optional1,optional2,optional3
#
#                     Type
#                         0 - (None)
#                         1 - (Console)
#                         2 - (File)
#                         3 - (DB)
#
#                     LogLevel
#                         0 - (Disabled)
#                         1 - (Trace)
#                         2 - (Debug)
#                         3 - (Info)
#                         4 - (Warn)
#                         5 - (Error)
#                         6 - (Fatal)
#
#                     Flags:
#                         0 - None
#                         1 - Prefix Timestamp to the text
#                         2 - Prefix Log Level to the text
#                         4 - Prefix Log Filter type to the text
#                         8 - Append timestamp to the log file name. Format: YYYY-MM-DD_HH-MM-SS (Only used with Type = 2)
#                        16 - Make a backup of existing file before overwrite (Only used with Mode = w)
#
#                     Colors (read as optional1 if Type = Console)
#                         Format: "fatal error warn info debug trace"
#                         0 - BLACK
#                         1 - RED
#                         2 - GREEN
#                         3 - BROWN
#                         4 - BLUE
#                         5 - MAGENTA
#                         6 - CYAN
#                         7 - GREY
#                         8 - YELLOW
#                         9 - LRED
#                        10 - LGREEN
#                        11 - LBLUE
#                        12 - LMAGENTA
#                        13 - LCYAN
#                        14 - WHITE
#                         Example: "13 11 9 5 3 1"
#
#                     File: Name of the file (read as optional1 if Type = File)
#                         Allows to use one "%s" to create dynamic files
#
#                     Mode: Mode to open the file (read as optional2 if Type = File)
#                          a - (Append)
#                          w - (Overwrite)
#
#                     MaxFileSize: Maximum file size of the log file before creating a new log file
#                     (read as optional3 if Type = File)
#                         Size is measured in bytes expressed in a 64-bit unsigned integer.
#                         Maximum value is 4294967295 (4 gb). Leave blank for no limit.
#                         NOTE: Does not work with dynamic filenames.
#                         Example:  536870912 (512 mb)
#
Appender.Console=1,2,3,4,5,6
Appender.Server=2,2,0,Server.log,w
Appender.DBErrors=2,2,0,DBErrors.log

#  Logger config values: Given a logger "name"
#    Logger.name
#        Description: Defines 'What to log'
#        Format:      LogLevel,AppenderList
#
#                     LogLevel
#                         0 - (Disabled)
#                         1 - (Trace)
#                         2 - (Debug)
#                         3 - (Info)
#                         4 - (Warn)
#                         5 - (Error)
#                         6 - (Fatal)
#
#                     AppenderList: List of appenders linked to logger
#                     (Using spaces as separator).
#

Logger.root=1,Console Server
Logger.server=3,Console Server
Logger.sql.sql=5,Console DBErrors

Logger.network=2,Console Server
Logger.server.authserver=3,Console Server
Logger.sql.dev=3,Console Server
Logger.sql.driver=3,Console Server